<div class="page-header">
  <h1>Sod Off As A Service <small>Help Shyam learn how to swear like a Brit</small></h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>
        Url
      </th>
      <th>
        example
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        /sod/:off/:from
      </td>
      <td>
        <a href="/sod/Superman/Phani">/sod/Superman/Phani</a>
      </td>
      <td>
        Tells Superman (:off) to Sod off - Phani (:from)
      </td>
    </tr>
      <tr>
        <td>
          /bugger/:off/:from
        </td>
        <td>
          <a href="/bugger/Superman/Phani">/bugger/Superman/Phani</a>
        </td>
        <td>
          Tells Superman (:off) to Bugger off - Phani (:from)
        </td>
      </tr>
  </tbody>
</table>
